<!--<h2>Welcome to {{ hotelName }}</h2>-->
<hinv-header></hinv-header>
<div [hidden]="hideRooms">
  Number of rooms
  <div [ngStyle]="{'color': rooms.availableRooms>0? 'green':'red'}"
       [innerText]="numberOfRooms"></div>
</div>
<!--{{ rooms$ | async | json }}-->
<!--{{ roomList | json }}-->
<div *ngIf="selectedRoom">
  Room selected:
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms$ | async as roomsAsync">
  <hinv-rooms-list
    [rooms]="roomsAsync"
    (selectedRoom)="selectRoom($event)"
    [title]="title"
  ></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit</button>
<button (click)="deleteRoom()">Delete</button>

<h1>{{ totalBytes }} loaded</h1>

<div *ngIf="getError$ | async as errorMessage">
  <h3>failure reason: {{ errorMessage }}</h3>
</div>

<h3>
  Number of rooms is :{{ roomsCount$ | async }}
</h3>


